<% if (messages.error) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <p><%= messages.error %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if (messages.success) { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <p>
      <%= messages.success %>
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if (messages.info) { %>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <p>
      <%= messages.info %>
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>