<div class="container d-flex align-items-center justify-content-center flex-column mt-3">
  <h2>Register for free</h2>
  <%- include('../partials/messages.ejs') -%>
  <form method="post" class="form-group">
    <input required type="text" name="name" placeholder="name" class="form-control mt-3" style="width: 250px;">
    <input required type="email" name="email" placeholder="Email" class="form-control mt-3" style="width: 250px;">
    <input required type="password" name="password1" placeholder="Password" class="form-control mt-3"
      style="width: 250px;">
    <input required type="password" name="password2" placeholder="Confirm Password" class="form-control mt-3" style="width: 250px;">
    <div class="d-flex align-items-center justify-content-between">
      <input type="submit" value="Register" class="btn btn-primary mt-3">
      <a href="/users/login">already registred?</a>
    </div>
  </form>
</div>